

			
	<link rel="stylesheet" href="/css/form.css" type="text/css">	<style type="text/css">[data-kd-id='014'] [class^='col-'] > *:last-child {
  margin-bottom: 0; }

@media (max-width: 575.98px) {
  [data-kd-id='014'] .align-items-start .content {
    padding-top: 0; } }

@media (max-width: 575.98px) and (max-width: 767.98px) {
  [data-kd-id='014'] .align-items-center img {
    margin-top: 3rem; } }

@media (max-width: 575.98px) {
  [data-kd-id='014'] .align-items-center .content {
    padding-top: 0; } }

@media (max-width: 575.98px) and (max-width: 767.98px) {
  [data-kd-id='014'] .align-items-end {
    margin-top: 3rem; } }

@media (max-width: 575.98px) {
  [data-kd-id='014'] .align-items-end .content {
    padding-top: 0; } }

[data-kd-id='014'] .content {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (min-width: 576px) {
    [data-kd-id='014'] .content {
      padding-top: 6rem;
      padding-bottom: 6rem; } }

@media (min-width: 576px) {
  [data-kd-id='014'].desktop-layout-flip .row [class^='col-']:first-child {
    order: 2;
    margin-left: 8.333333%; }
  [data-kd-id='014'].desktop-layout-flip .row [class^='col-']:last-child {
    order: 1;
    margin-left: 0; } }
</style>
		
	<section class="kd-theme-bg   "data-kd-type="mod"data-kd-theme="secondary"data-kd-handle="example"data-kd-id="014"data-id="1">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-sm-5 mb-5 mb-sm-0 text-center">
					<picture class=""><img class="img-fluid w-100" data-src="https://placeimg.com/370/370/nature" alt="" loading="lazy"  style="width:370px;height:370px;" ></picture>
				</div>
				<div class="col-sm-6 offset-sm-1 kd-theme-yiq-text styled-links content">
					<h2>Animi unde iste qui aut.</h2>
					<p>Vel minima eum recusandae. Molestiae quisquam quibusdam officia pariatur deserunt. Consequatur sint nesciunt ipsa ut. Ad facere eum omnis recusandae.</p>
											<p><a href="" class="btn btn-action btn-lg mr-2 mb-2">
		View Now
	</a></p>
									</div>
			</div>
		</div>
	</section>
