

			
	<style type="text/css">[data-kd-handle='heading'] .module-header {
  padding-bottom: 0; }
</style>
		
	<section class="kd-theme-bg pb-0 "data-kd-type="mod"data-kd-theme="light"data-kd-handle="heading"data-id="1">
		<div class="container">
			<div class="row">
				<div class="col-12 kd-theme-yiq-text">
					<div class="module-header">
						<h2 class="heading">Gallery Heading</h2>
						<span class="intro">This is an example of a gallery with a heading module.</span>					</div>
				</div>
			</div>
		</div>
	</section>
