<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.1" type="text/css">


<title>Gallerys | Kurious Digital</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Kurious Digital</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-9dea576cdfaa1731169b37ba50f4a1f0">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/gallerys.html" title="Component preview">
            Gallerys
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #FF9233; border-color: #FF9233;">WIP</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-9dea576cdfaa1731169b37ba50f4a1f0">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/gallerys.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-9dea576cdfaa1731169b37ba50f4a1f0">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-context">Context</a>
        </li>
        
        
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">style</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span><span class="css">
			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'heading'</span>]</span> <span class="hljs-selector-class">.module-header</span> {
			        <span class="hljs-attribute">padding-bottom</span>: <span class="hljs-number">0</span>;
			    }
			</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>

			<span class="hljs-tag">&lt;<span class="hljs-name">section</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"kd-theme-bg pb-0 "</span> <span class="hljs-attr">data-kd-type</span>=<span class="hljs-string">"mod"</span> <span class="hljs-attr">data-kd-theme</span>=<span class="hljs-string">"light"</span> <span class="hljs-attr">data-kd-handle</span>=<span class="hljs-string">"heading"</span> <span class="hljs-attr">data-id</span>=<span class="hljs-string">"1"</span>&gt;</span>
			    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"container"</span>&gt;</span>
			        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"row"</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 kd-theme-yiq-text"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"module-header"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"heading"</span>&gt;</span>Gallery Heading<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"intro"</span>&gt;</span>This is an example of a gallery with a heading module.<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			<span class="hljs-tag">&lt;/<span class="hljs-name">section</span>&gt;</span>

			<span class="hljs-tag">&lt;<span class="hljs-name">style</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/css"</span>&gt;</span><span class="css">
			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'primary'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(255, 255, 255, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'secondary'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(33, 37, 41, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'success'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(255, 255, 255, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'info'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(255, 255, 255, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'warning'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(33, 37, 41, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'danger'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(255, 255, 255, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'light'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(33, 37, 41, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'dark'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(255, 255, 255, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'action'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(255, 255, 255, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span><span class="hljs-selector-attr">[data-kd-theme=<span class="hljs-string">'neutral'</span>]</span> <span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='rgba(33, 37, 41, 0.5)'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.reveal</span> {
			        <span class="hljs-attribute">transition</span>: height <span class="hljs-number">250ms</span> ease-out;
			        <span class="hljs-attribute">height</span>: <span class="hljs-number">500px</span>;
			        <span class="hljs-attribute">overflow</span>: hidden;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.reveal</span><span class="hljs-selector-class">.preload</span> {
			        <span class="hljs-attribute">background-position</span>: center center;
			        <span class="hljs-attribute">background-repeat</span>: no-repeat;
			        <span class="hljs-attribute">background-size</span>: <span class="hljs-number">38px</span> <span class="hljs-number">38px</span>;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.gallery-item</span> {
			        <span class="hljs-attribute">margin</span>: <span class="hljs-number">7.5px</span> <span class="hljs-number">7.5px</span> <span class="hljs-number">15px</span> <span class="hljs-number">7.5px</span>;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.gallery-item</span> <span class="hljs-selector-tag">img</span> {
			        <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.gallery-item</span><span class="hljs-selector-attr">[data-toggle=<span class="hljs-string">'modal'</span>]</span> {
			        <span class="hljs-attribute">position</span>: relative;
			        <span class="hljs-attribute">overflow</span>: hidden;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.gallery-item</span><span class="hljs-selector-attr">[data-toggle=<span class="hljs-string">'modal'</span>]</span> <span class="hljs-selector-tag">img</span> {
			        <span class="hljs-attribute">transition</span>: transform <span class="hljs-number">0.15s</span> ease-in-out;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.gallery-item</span><span class="hljs-selector-attr">[data-toggle=<span class="hljs-string">'modal'</span>]</span><span class="hljs-selector-pseudo">:hover</span><span class="hljs-selector-pseudo">::after</span> {
			        <span class="hljs-attribute">opacity</span>: <span class="hljs-number">1</span>;
			        <span class="hljs-attribute">cursor</span>: pointer;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.gallery-item</span><span class="hljs-selector-attr">[data-toggle=<span class="hljs-string">'modal'</span>]</span><span class="hljs-selector-pseudo">:hover</span><span class="hljs-selector-pseudo">::before</span> {
			        <span class="hljs-attribute">opacity</span>: <span class="hljs-number">1</span>;
			        <span class="hljs-attribute">transform</span>: <span class="hljs-built_in">translateX</span>(-<span class="hljs-number">50%</span>) <span class="hljs-built_in">translateY</span>(-<span class="hljs-number">50%</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.gallery-item</span><span class="hljs-selector-attr">[data-toggle=<span class="hljs-string">'modal'</span>]</span><span class="hljs-selector-pseudo">:hover</span> <span class="hljs-selector-tag">img</span> {
			        <span class="hljs-attribute">transform</span>: <span class="hljs-built_in">scale</span>(<span class="hljs-number">1.1</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.gallery-item</span><span class="hljs-selector-attr">[data-toggle=<span class="hljs-string">'modal'</span>]</span><span class="hljs-selector-pseudo">::after</span> {
			        <span class="hljs-attribute">display</span>: block;
			        <span class="hljs-attribute">content</span>: <span class="hljs-string">''</span>;
			        <span class="hljs-attribute">background-color</span>: <span class="hljs-built_in">rgba</span>(<span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0.65</span>);
			        <span class="hljs-attribute">transition</span>: opacity <span class="hljs-number">0.15s</span> linear;
			        <span class="hljs-attribute">opacity</span>: <span class="hljs-number">0</span>;
			        <span class="hljs-attribute">position</span>: absolute;
			        <span class="hljs-attribute">top</span>: <span class="hljs-number">0px</span>;
			        <span class="hljs-attribute">left</span>: <span class="hljs-number">0px</span>;
			        <span class="hljs-attribute">bottom</span>: <span class="hljs-number">0px</span>;
			        <span class="hljs-attribute">right</span>: <span class="hljs-number">0px</span>;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.gallery-item</span><span class="hljs-selector-attr">[data-toggle=<span class="hljs-string">'modal'</span>]</span><span class="hljs-selector-pseudo">::before</span> {
			        <span class="hljs-attribute">display</span>: block;
			        <span class="hljs-attribute">content</span>: <span class="hljs-string">''</span>;
			        <span class="hljs-attribute">width</span>: <span class="hljs-number">24px</span>;
			        <span class="hljs-attribute">height</span>: <span class="hljs-number">24px</span>;
			        <span class="hljs-attribute">background-position</span>: center center;
			        <span class="hljs-attribute">background-repeat</span>: no-repeat;
			        <span class="hljs-attribute">background-size</span>: <span class="hljs-number">24px</span> <span class="hljs-number">24px</span>;
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-eye'%3E%3Cpath d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z'%3E%3C/path%3E%3Ccircle cx='12' cy='12' r='3'%3E%3C/circle%3E%3C/svg%3E"</span>);
			        <span class="hljs-attribute">position</span>: absolute;
			        <span class="hljs-attribute">top</span>: <span class="hljs-built_in">calc</span>(<span class="hljs-number">50%</span>);
			        <span class="hljs-attribute">left</span>: <span class="hljs-built_in">calc</span>(<span class="hljs-number">50%</span>);
			        <span class="hljs-attribute">z-index</span>: <span class="hljs-number">10</span>;
			        <span class="hljs-attribute">transition</span>: all <span class="hljs-number">0.15s</span> ease-out;
			        <span class="hljs-attribute">transform</span>: <span class="hljs-built_in">translateX</span>(-<span class="hljs-number">50%</span>) <span class="hljs-built_in">translateY</span>(<span class="hljs-number">50%</span>);
			        <span class="hljs-attribute">opacity</span>: <span class="hljs-number">0</span>;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.modal-content</span> {
			        <span class="hljs-attribute">pointer-events</span>: auto;
			        <span class="hljs-attribute">background-color</span>: transparent;
			        <span class="hljs-attribute">background-clip</span>: padding-box;
			        <span class="hljs-attribute">border</span>: none;
			        <span class="hljs-attribute">border-radius</span>: <span class="hljs-number">0.3rem</span>;
			        <span class="hljs-attribute">outline</span>: none;
			        <span class="hljs-attribute">border-radius</span>: <span class="hljs-number">0</span>;
			        <span class="hljs-attribute">box-shadow</span>: <span class="hljs-number">0px</span> <span class="hljs-number">0px</span> <span class="hljs-number">30px</span> <span class="hljs-number">#000</span>;
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.modal-content</span> <span class="hljs-selector-class">.close</span> {
			        <span class="hljs-attribute">display</span>: block;
			        <span class="hljs-attribute">width</span>: <span class="hljs-number">28px</span>;
			        <span class="hljs-attribute">height</span>: <span class="hljs-number">28px</span>;
			        <span class="hljs-attribute">background-color</span>: <span class="hljs-built_in">rgba</span>(<span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0.7</span>);
			        <span class="hljs-attribute">position</span>: absolute;
			        <span class="hljs-attribute">top</span>: <span class="hljs-number">1rem</span>;
			        <span class="hljs-attribute">right</span>: <span class="hljs-number">1rem</span>;
			        <span class="hljs-attribute">opacity</span>: <span class="hljs-number">1</span>;
			        <span class="hljs-attribute">border-radius</span>: <span class="hljs-number">50%</span>;
			        <span class="hljs-attribute">background-position</span>: center center;
			        <span class="hljs-attribute">background-repeat</span>: no-repeat;
			        <span class="hljs-attribute">background-size</span>: <span class="hljs-number">24px</span> <span class="hljs-number">24px</span>;
			        <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x-circle'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='15' y1='9' x2='9' y2='15'%3E%3C/line%3E%3Cline x1='9' y1='9' x2='15' y2='15'%3E%3C/line%3E%3C/svg%3E"</span>);
			    }

			    <span class="hljs-selector-attr">[data-kd-handle=<span class="hljs-string">'gallery'</span>]</span> <span class="hljs-selector-class">.modal-content</span> <span class="hljs-selector-class">.close</span><span class="hljs-selector-pseudo">:focus</span> {
			        <span class="hljs-attribute">outline</span>: <span class="hljs-number">0</span>;
			        <span class="hljs-attribute">box-shadow</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-number">6px</span> <span class="hljs-number">#43b34f</span>;
			    }

			    <span class="hljs-selector-tag">body</span><span class="hljs-selector-class">.modal104-modal</span> <span class="hljs-selector-class">.modal-backdrop</span><span class="hljs-selector-class">.show</span> {
			        <span class="hljs-attribute">opacity</span>: <span class="hljs-number">0.9</span>;
			    }
			</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>

			<span class="hljs-tag">&lt;<span class="hljs-name">section</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"kd-theme-bg temp-height pt-50 "</span> <span class="hljs-attr">data-kd-type</span>=<span class="hljs-string">"mod"</span> <span class="hljs-attr">data-kd-theme</span>=<span class="hljs-string">"light"</span> <span class="hljs-attr">data-kd-handle</span>=<span class="hljs-string">"gallery"</span> <span class="hljs-attr">data-kd-id</span>=<span class="hljs-string">"104b"</span> <span class="hljs-attr">data-id</span>=<span class="hljs-string">"1"</span>&gt;</span>
			    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"container"</span>&gt;</span>
			        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"row"</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-6 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=1-0"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=1-0"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:600px; height:350px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-6 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=1-1"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=1-1"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:600px; height:350px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"row"</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-4 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=2-0"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=2-0"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:600px; height:350px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-4 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=2-1"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=2-1"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:600px; height:350px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-4 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=2-2"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/600/350/any?t=2-2"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:600px; height:350px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"row"</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-12 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/800/250/any?t=3-0"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/800/250/any?t=3-0"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:800px; height:250px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"row"</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-8 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/800/342/any?t=4-1"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/800/342/any?t=4-1"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:800px; height:342px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-4 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/400/350/any?t=4-2"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/400/350/any?t=4-2"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:400px; height:350px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"row"</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-4 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/400/350/any?t=5-1"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/400/350/any?t=5-1"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:400px; height:350px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"col-12 col-sm-8 p-0"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"gallery-item"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">data-full-src</span>=<span class="hljs-string">"https://placeimg.com/800/342/any?t=5-2"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#mod104Modal-"</span>&gt;</span>
			                    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">data-src</span>=<span class="hljs-string">"https://placeimg.com/800/342/any?t=5-2"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:800px; height:342px;"</span> /&gt;</span>

			                <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

			    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"modal fade"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"mod104Modal-"</span> <span class="hljs-attr">aria-hidden</span>=<span class="hljs-string">"true"</span>&gt;</span>
			        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"modal-dialog modal-dialog-centered"</span>&gt;</span>
			            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"modal-content"</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img-fluid"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">""</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span>
			                <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"close"</span> <span class="hljs-attr">data-dismiss</span>=<span class="hljs-string">"modal"</span> <span class="hljs-attr">aria-label</span>=<span class="hljs-string">"Close"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
			            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
			<span class="hljs-tag">&lt;/<span class="hljs-name">section</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-view">
    <code class="Code Code--lang-twig">
        <pre><span class="hljs-template-tag">{% <span class="hljs-name">render</span> '<a href="heading.html">@heading</a>' with {module: {padding:'pb-0', theme:'light', heading:'Gallery Heading', summary:'This is an example of a gallery with a heading module.'}} %}</span><span class="xml">

</span><span class="hljs-template-tag">{% <span class="hljs-name">render</span> '<a href="gallery--rows.html">@gallery--rows</a>' with {module: {padding:'pt-50'}} %}</span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre><span class="hljs-comment">/* No context defined for this component. */</span></pre>
            
        
    </code>
</div>

    
    




    
    <div class="Browser-panel" data-role="tab-panel" id="browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@gallerys</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/gallerys.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/gallerys.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">../src/components/pages/gallerys.twig</span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">References <em class="Meta-count">(2)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="heading.html">@<span>heading</span></a>, 
            
                <a href="gallery--rows.html">@<span>gallery--rows</span></a>
            
            </span>
        </li class="Meta-item">
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-9dea576cdfaa1731169b37ba50f4a1f0-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-modules">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Modules</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-example">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Example</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="example--one.html" data-pjax>
                <span>Example 1</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="example--two.html" data-pjax>
                <span>Example 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="example--three.html" data-pjax>
                <span>Three</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-gallery">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Gallery</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="gallery--masonry.html" data-pjax>
                <span>Masonry</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="gallery--grid.html" data-pjax>
                <span>Grid</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="gallery--rows.html" data-pjax>
                <span>Rows</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="heading.html" data-pjax>
                <span>Heading</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF3333;" title="Prototype"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-pages">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Pages</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="examples.html" data-pjax>
                <span>Examples</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Gallerys</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>



</body>
</html>
